/* "Tamming" Box Model With Reset */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* Universal Styles */

html {
  font-size: 18px;
}

body {
  font-family: Helvetica;
  line-height: 1.4;
  margin: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* Navigation */

nav {
  background-color: cadetblue;
  color: white;
}

/* Banner Section */

.banner {
  height: 31rem;
  background-image: url('../images/glasses-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.content {
  background-color: white;
  padding: 1.5rem 5rem;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2rem;
}

/* Service Logos */

.icons {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  max-height: 8rem;
  padding: 3rem 0;
}
